<!-- entire footer -->

<div class="footer-container" id="footer">

    <!-- "Header on top of footer" -->
    <div class="social-networks">
        <!-- add in icons for social networking -->
        <p>GET CONNECTED WITH US ON SOCIAL NETWORKS!</p>
        <div class="social-svg">
            <!-- instagram -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <div class="social-media-svg instagram">
              <a href="https://www.instagram.com/startmylease/" target="_blank"><img class="instagram-icon" src="../../assets/instagram.png" alt="instagram"></a>
              <a href="https://www.instagram.com/startmylease/" target="_blank"><img class="instagram-icon-hover" src="../../assets/instagram-hover.png" alt="instagram"></a>
            </div>
            <!-- twitter -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <div class="social-media-svg twitter">
              <a href="https://twitter.com/startmylease" target="_blank"><img class="twitter-icon" src="../../assets/twitter.png" alt="twitter"></a>
              <a href="https://twitter.com/startmylease" target="_blank"><img class="twitter-icon-hover" src="../../assets/twitter_hover.png" alt="twitter"></a>
            </div>
            <!-- youtube -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <div class="social-media-svg youtube">
              <a href="https://www.youtube.com/channel/UCi6PIa7tKWIvWzjBpEgTFng" target="_blank"><img class="youtube-icon" src="../../assets/youtube.png" alt="youtube"></a>
              <a href="https://www.youtube.com/channel/UCi6PIa7tKWIvWzjBpEgTFng" target="_blank"><img class="youtube-icon-hover" src="../../assets/youtube_hover.png" alt="youtube"></a>
            </div>
            <!-- linkedin -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <div class="social-media-svg linkedin">
              <a href="https://www.linkedin.com/in/start-my-lease-%25C2%25AE-04532a179/" target="_blank"><img class="linkedin-icon" src="../../assets/linkedin.png" alt="linkedin"></a>
              <a href="https://www.linkedin.com/in/start-my-lease-%25C2%25AE-04532a179/" target="_blank"><img class="linkedin-icon-hover" src="../../assets/linkedin_hover.png" alt="linkedin"></a>
            </div>
        </div>
    </div>
    <div class="border"></div>

    <div class="footer-content">
        <div class="footer-sml-svg">
            <!-- SVG here -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <svg width="263px" height="128px" viewBox="0 0 679 330" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>754e0d13-5b39-49fa-ac92-ba6d04ea4e29</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <image id="754e0d13-5b39-49fa-ac92-ba6d04ea4e29" x="0" y="0" width="679" height="330"
                        xlink:href="../assets/footer_img.png">
                    </image>
                </g>
            </svg>
            <p>Buy, Lease and Lease-to-Own Made Easy</p>
        </div>
        <div class="about-nav-contact">
            <div class="footer-about">
                <!-- about -->
                <h3 class="about">ABOUT US</h3>
                <hr>
                <p class="about-us">
                  Start My Lease® is an integration platform as a service (iPaaS) where users can locate and start the process of leasing everything from residential real estate to furniture and vehicles.
                  <br><br>
                  Start My Lease® seeks to be a one-stop shop for individuals looking to start leasing anything from anywhere.
                </p>
            </div>
            <div class="footer-navigate">
                <!-- navigate -->
                <h3>NAVIGATE</h3>
                <hr>
                <ul>
                    <!-- THESE WILL HAVE TO BE CLICKABLE -->
                    <li routerLink="/realestate-list/lease">LEASE</li>
                    <li routerLink="/realestate-list/sale">BUY</li>
                    <li routerLink="/list-property">
                        
                    </li>
                    <li routerLink="/">SIGN IN / SIGN UP</li>
                </ul>
            </div>
            <div class="footer-contact">
                <!-- contact us -->
                <h3>CONTACT US</h3>
                <hr>
                <ul>
                    <!-- THESE WILL HAVE TO BE CLICKABLE -->
                    <li routerLink="/">855.478.8520 X 1</li>
                    <!-- find code snipit to open up email popup -->
                    <li>info@startmylease.com</li>
                    <li routerLink="/">3079 S BALDWIN RD STE 1038, LAKE ORION, MI</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">

        <p>COPYRIGHT © 2020 START MY LEASE® - ALL RIGHTS RESERVED.</p>
    </div>


</div>
