.home-lease-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 50px;
}

.lease-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
}

.lease-title .house {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.5px;
    padding: 14px 0 12px 10.3px;
}

.house {
    font-weight: 400;
    color: #838383;
}

.price {
    font-weight: 300;
}

.frequency {
    font-weight: 500;
}

.lease-title .price {
    color: #31BDBA;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.14px;
    padding-right: 13px;
    white-space: nowrap;
    font-family: "dinCon";
}

.lease-title .price span {
  font-family: "din";
  font-size: 18px;
  font-weight: 400;
}

.lease-title .price span:nth-of-type(2) {
  font-family: dinConReg;
}

.lease-title .price span.frequency {
  font-family: "dinCon";
}

h2 {
  font-weight: 100;
  color: #838383;
  font-family: "robotoLight";
  font-size: 36px;
  letter-spacing: 3.06px;
}

.lease-properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 75px;
    padding-top: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.card {
    background-color: #ffff;
    margin: 5px;
    width: 356px;
    height: 410px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
}

/* pictures */

.lease-photo {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 335.94px;
    height: 210px;
    position: relative;
}

.map {
    width: 101.28px;
    height: 97px;
    background-image: url(src/assets/map.png);
    background-position: center;
    position: absolute;
    transform: translate(237.67px, 203px);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.point-svg {
    margin-right: 7px;
}

.address  {
    padding-left: 13px;
    padding-right: 7px;
    display: flex;
    height: 38px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.address p {
  color: #505050;
}

.details {
    text-align: center;
    margin-top: 35px;
    margin-bottom: -15px;
    font-size: 16px;
    line-height: 16px;
    color: #818181;
}

.availability {
    padding-left: 12.3px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #505050;
}

.availability .more-details {
  width: 120px;
  height: 49px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: #31BDBA;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.availability .more-details:hover {
  color: #1C1F36;
}

.cal-div {
    padding-right: 8px;
}

.cal-div span {
  position: relative;
  bottom: 3px;
  margin-left: 5px;
  color: #505050;
}

.home-lease-content.down {
  margin-top: 280px;
}

.no-data-container {
  text-align: center;
  display: none;
}

.no-data-container h1 {
  font-size: 36px;
  color: #737272;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.no-data-container p {
  font-family: "Roboto";
  color: #505050;
  margin: 0 auto;
  width: 40%;
  max-width: 500px;
}

