<app-nav></app-nav>
<div class="header-pic">
</div>
<div class="get-rep">
    <h3>Get represented by one of the local Start My Lease® Experts</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet neque, molestias sed, architecto dicta at
        nemo accusamus incidunt, earum ut fuga officiis corrupti reprehenderit laboriosam sequi maiores! Alias, nisi?
    </p>
</div>
<div class="search">
    <form action="" class="search-form">
        <input type="search" placeholder="Find agent in area" id="search">
        <button id="search-btn">SEARCH
            <!-- search svg -->
            <!-- <?xml version="1.0" encoding="UTF-8"?> -->
            <div class="search-svg-div">
                <!-- <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>search</title>
                    <defs>
                        <path
                            d="M358,0 L1081,0 C1083.76142,-5.07265313e-16 1086,2.23857625 1086,5 L1086,50 C1086,52.7614237 1083.76142,55 1081,55 L358,55 C355.238576,55 353,52.7614237 353,50 L353,5 C353,2.23857625 355.238576,5.07265313e-16 358,0 Z"
                            id="path-1"></path>
                        <filter x="-5.6%" y="-56.4%" width="111.2%" height="249.1%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="12" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                        <path
                            d="M12.5,11 L11.71,11 L11.43,10.73 C12.41,9.59 13,8.11 13,6.5 C13,2.91 10.09,5.32907052e-15 6.5,5.32907052e-15 C2.91,5.32907052e-15 -1.01785247e-12,2.91 -1.01785247e-12,6.5 C-1.01785247e-12,10.09 2.91,13 6.5,13 C8.11,13 9.59,12.41 10.73,11.43 L11,11.71 L11,12.5 L16,17.49 L17.49,16 L12.5,11 Z M6.5,11 C4.01,11 2,8.99 2,6.5 C2,4.01 4.01,2 6.5,2 C8.99,2 11,4.01 11,6.5 C11,8.99 8.99,11 6.5,11 Z"
                            id="path-3"></path>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="search_agent" transform="translate(-1025.000000, -19.000000)">
                            <g id="Rectangle">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <path
                                d="M918,0 L1081,0 C1083.76142,-5.07265313e-16 1086,2.23857625 1086,5 L1086,50 C1086,52.7614237 1083.76142,55 1081,55 L918,55 L918,55 L918,0 Z"
                                id="Rectangle" fill="#31BDBA"></path>
                            <g id="Group" transform="translate(1025.000000, 19.000000)">
                                <mask id="mask-4" fill="white">
                                    <use xlink:href="#path-3"></use>
                                </mask>
                                <use id="-↳Color" fill="#FFFFFF" xlink:href="#path-3"></use>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2700" y="-1271" width="7658"
                            height="1746"></rect>
                    </g>
                </svg> -->
            </div>
        </button>
    </form>
</div>

<!-- agents -->
<div class="agents">
    <h2>FIND AGENT</h2>
    <div class="card-container">
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>

                <p>(281) 406-6692</p>
            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>
            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>
            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>
            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
        <div class="card">
            <p class="name">THERESE ANTONELLA</p>
            <div class="pic"></div>
            <div class="map"></div>
            <div class="phone">
                <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Group 3</title>
                    <defs>
                        <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="agent_card" transform="translate(-11.000000, -272.000000)">
                            <g id="Rectangle-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-3" transform="translate(11.030986, 272.000000)" fill="#2D2D2D">
                                <path
                                    d="M17.3239628,12.5731 C16.0714445,12.5731 14.8590389,12.3701 13.7288642,12.0041 C13.3728642,11.8831 12.9747459,11.9741 12.7009769,12.2481 L11.1014839,14.2491 C8.21938817,12.8781 5.51980507,10.2881 4.08377127,7.3121 L6.06934873,5.6261 C6.34512338,5.3421 6.42635155,4.9461 6.31403606,4.5911 C5.93797972,3.4631 5.74443606,2.2551 5.74443606,1.0051 C5.74443606,0.4571 5.28614873,0.0001 4.73560225,0.0001 L1.21270648,0.0001 C0.66216,0.0001 0.00030084507,0.2431 0.00030084507,1.0051 C0.00030084507,10.4401 7.87241352,18.2811 17.3239628,18.2811 C18.0479966,18.2811 18.3327966,17.6411 18.3327966,17.0821 L18.3327966,13.5781 C18.3327966,13.0301 17.8745093,12.5731 17.3239628,12.5731"
                                    id="Fill-1"></path>
                            </g>
                        </g>
                        <rect id="Rectangle" stroke="#FF0909" stroke-width="8" x="-2219" y="-1000" width="7658"
                            height="1746"></rect>
                    </g>
                </svg>
                <p>(281) 406-6692</p>
            </div>
            <div class="where">

            </div>
            <div class="where"> <i class="material-icons">room</i>
                <p>Utica, Rochester Hills, Macomb, Sterling Heights,
                    Clinton Township, Birmingham, Troy,
                    Royal
                    Oak, Romeo, Lake Orion</p>
            </div>

            <div class="details">
                <button class="more-btn" routerLink="/agent-details">MORE DETAILS</button>
            </div>
        </div>
    </div>
</div>



<app-rec-footer></app-rec-footer>
<app-footer></app-footer>
