<!-- search and filter functionality in this header -->
<div class="header-container">
    <div class="overlay">

        <form action="" class="search-form">
            <input type="search" id="gsearch" name="gsearch" class="search-bar" placeholder="I am looking for...">
            <input type="submit" class="submit-btn" value="SEARCH">
        </form>

        <div class="filters">
            <form action="" class="container">

                <div class="checkbox-test padding">
                    <input type="checkbox" id="cb1">
                    <label for="cb1" class="lease">LEASE</label>
                </div>

                <div class="checkbox-test padding">
                    <input type="checkbox" id="cb2">
                    <label for="cb2" class="buy">BUY</label>
                </div>


                <!-- dropdowns -->

                <!-- <div id="lease">
                    <div class="lease text">LEASE<i class="fas fa-caret-down"></i></div>
                    <div class="lease-links">
                        <a href="#" class="text" routerLink="/">VIEW ALL</a>
                        <a href="#" class="text" routerLink="/">HOME</a>
                        <a href="#" class="text" routerLink="/">AUTO</a>
                        <a href="#" class="text" routerLink="/">FURNITURE</a>
                        <div class="lease-links2">
                            <a href="" routerLink="/">VIEW ALL</a>
                            <a href="" routerLink="/">HOUSE</a>
                            <a href="" routerLink="/">APARTMENT</a>
                            <a href="" routerLink="/">CONDO</a>
                            <a href="" routerLink="/">TOWNHOUSE</a>
                            <a href="" routerLink="/">STUDIO</a>
                            <a href="" routerLink="/">OFFICE</a>
                            <a href="" routerLink="/">VACATION RENTAL</a>
                            <a href="" routerLink="/">PORTABLE CONSTRUCTION</a>
                        </div>
                    </div>

                </div> -->

                <div id="country">
                    <div class="country text">COUNTRY<i class="fas fa-caret-down"></i></div>
                    <div class="country-links">
                        <a href="">UNITED STATES</a>
                        <a href="">CANADA</a>
                    </div>

                </div>

                <!-- UNITED STATES -->


                <div id="usa">
                    <div class="usa text">STATE<i class="fas fa-caret-down"></i></div>
                    <div class="usa-links">
                        <a href="">Arizona</a>
                        <a href="">California</a>
                        <a href="">Florida</a>
                        <a href="">Georgia</a>
                        <a href="">Illinois</a>
                        <a href="">Massachusetts</a>
                        <a href="">Michigan</a>
                        <a href="">Ohio</a>
                        <a href="">Texas</a>
                        <a href="">Washington</a>
                    </div>

                </div>

                <!-- CANADA -->

                <!-- <div id="canada">
                    <div class="canada text">COUNTRY<i class="fas fa-caret-down"></i></div>
                    <div class="canada-links">
                        <a href="">ONTARIO</a>
                    </div>

                </div> -->
                <div id="city">
                    <div class="city text">CITY<i class="fas fa-caret-down"></i></div>
                    <div class="city-links">
                        <!-- <a href="">MICHIGAN</a>
                        <a href="">WASHINGTON</a>
                        <a href="">FLORIDA</a> -->
                    </div>

                </div>
                <div id="zip">
                    <div class="zip text">ZIP CODE<i class="fas fa-caret-down"></i></div>
                    <div class="zip-links">
                        <!-- <a href="">MICHIGAN</a>
                        <a href="">WASHINGTON</a>
                        <a href="">FLORIDA</a> -->
                    </div>

                </div>



            </form>

        </div>
    </div>
</div>
