<div class="recommendations">
    <div class="you-may-like">
        <h3>You may like our recommendations</h3>
        <button class="explore-btn" routerLink='/recommendations'>EXPLORE</button>
    </div>
    <div class="rec-cards">
      <div class="details-page-carousel rec-footer-carousel">
        <div id="recommendation-carousel" class="owl-carousel owl-theme">
          <div class="item">
            <div class="card">
              <div class="lease-title">
                <p class="house">HOUSE FOR LEASE</p>
                <p class="price">
                  <span class="frequency">$1200</span>
                  <span> / MONTH</span>
                </p>
              </div>
              <div class="lease-photo two"></div>
              <div class="address">
                <div class="point-svg">

                  <svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>location</title>
                    <defs>
                      <path
                        d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                      <path
                        d="M7.01971831,0 C3.1388169,0 0,3.13 0,7 C0,12.25 7.01971831,20 7.01971831,20 C7.01971831,20 14.0394366,12.25 14.0394366,7 C14.0394366,3.13 10.9006197,0 7.01971831,0 Z M7.01971831,9.5 C5.63583099,9.5 4.51267606,8.38 4.51267606,7 C4.51267606,5.62 5.63583099,4.5 7.01971831,4.5 C8.40360563,4.5 9.52676056,5.62 9.52676056,7 C9.52676056,8.38 8.40360563,9.5 7.01971831,9.5 Z"
                        id="path-3"></path>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="home_card" transform="translate(-13.000000, -271.000000)">
                        <g id="Rectangle-Copy-6">
                          <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                          </use>
                          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <g id="location" transform="translate(13.036620, 271.000000)">
                          <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                          </mask>
                          <use id="-↳Color" fill="#505050" xlink:href="#path-3"></use>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                57400 Bedford Blvd #251,
                Washington, MI 48094
              </div>
              <div class="details">3 BEDS | 1.5 BATHS | 800 SQFT</div>
              <div class="availability">
                <!-- calendar svg -->
                <div class="cal-div">
                  <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                  <svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Shape</title>
                    <defs>
                      <path
                        d="M5,-1.13686838e-13 L351,-1.13686838e-13 C353.761424,-1.14194103e-13 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,-1.13179572e-13 5,-1.13686838e-13 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="body" transform="translate(-177.000000, -572.000000)">
                        <g id="card-Copy-12" transform="translate(165.000000, 195.000000)">
                          <g id="Combined-Shape">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                            </use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                          </g>
                          <g id="Group-6-Copy-2" transform="translate(12.033803, 377.000000)" fill="#5C5F64">
                            <path
                              d="M4.67981221,7.65 L3.1198748,7.65 L3.1198748,9.35 L4.67981221,9.35 L4.67981221,7.65 Z M7.79968701,7.65 L6.23974961,7.65 L6.23974961,9.35 L7.79968701,9.35 L7.79968701,7.65 Z M10.9195618,7.65 L9.35962441,7.65 L9.35962441,9.35 L10.9195618,9.35 L10.9195618,7.65 Z M12.4794992,1.7 L11.6995305,1.7 L11.6995305,0 L10.1395931,0 L10.1395931,1.7 L3.89984351,1.7 L3.89984351,0 L2.3399061,0 L2.3399061,1.7 L1.5599374,1.7 C0.694172144,1.7 0.00779968701,2.465 0.00779968701,3.4 L0,15.3 C0,16.235 0.694172144,17 1.5599374,17 L12.4794992,17 C13.3374648,17 14.0394366,16.235 14.0394366,15.3 L14.0394366,3.4 C14.0394366,2.465 13.3374648,1.7 12.4794992,1.7 Z M12.4794992,15.3 L1.5599374,15.3 L1.5599374,5.95 L12.4794992,5.95 L12.4794992,15.3 Z"
                              id="Shape"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                Available August 10th, 2020
                <button class="more-details" routerLink='/details'>MORE DETAILS</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card">
              <div class="lease-title">
                <p class="house">HOUSE FOR LEASE</p>
                <p class="price">
                  <span class="frequency">$1200</span>
                  <span> / MONTH</span>
                </p>
              </div>
              <div class="lease-photo three"></div>
              <div class="address">
                <div class="point-svg">
                  <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                  <svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>location</title>
                    <defs>
                      <path
                        d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                      <path
                        d="M7.01971831,0 C3.1388169,0 0,3.13 0,7 C0,12.25 7.01971831,20 7.01971831,20 C7.01971831,20 14.0394366,12.25 14.0394366,7 C14.0394366,3.13 10.9006197,0 7.01971831,0 Z M7.01971831,9.5 C5.63583099,9.5 4.51267606,8.38 4.51267606,7 C4.51267606,5.62 5.63583099,4.5 7.01971831,4.5 C8.40360563,4.5 9.52676056,5.62 9.52676056,7 C9.52676056,8.38 8.40360563,9.5 7.01971831,9.5 Z"
                        id="path-3"></path>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="home_card" transform="translate(-13.000000, -271.000000)">
                        <g id="Rectangle-Copy-6">
                          <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                          </use>
                          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <g id="location" transform="translate(13.036620, 271.000000)">
                          <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                          </mask>
                          <use id="-↳Color" fill="#505050" xlink:href="#path-3"></use>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                57400 Bedford Blvd #251,
                Washington, MI 48094
              </div>
              <div class="details">3 BEDS | 1.5 BATHS | 800 SQFT</div>
              <div class="availability">
                <!-- calendar svg -->
                <div class="cal-div">
                  <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                  <svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Shape</title>
                    <defs>
                      <path
                        d="M5,-1.13686838e-13 L351,-1.13686838e-13 C353.761424,-1.14194103e-13 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,-1.13179572e-13 5,-1.13686838e-13 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="body" transform="translate(-177.000000, -572.000000)">
                        <g id="card-Copy-12" transform="translate(165.000000, 195.000000)">
                          <g id="Combined-Shape">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                            </use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                          </g>
                          <g id="Group-6-Copy-2" transform="translate(12.033803, 377.000000)" fill="#5C5F64">
                            <path
                              d="M4.67981221,7.65 L3.1198748,7.65 L3.1198748,9.35 L4.67981221,9.35 L4.67981221,7.65 Z M7.79968701,7.65 L6.23974961,7.65 L6.23974961,9.35 L7.79968701,9.35 L7.79968701,7.65 Z M10.9195618,7.65 L9.35962441,7.65 L9.35962441,9.35 L10.9195618,9.35 L10.9195618,7.65 Z M12.4794992,1.7 L11.6995305,1.7 L11.6995305,0 L10.1395931,0 L10.1395931,1.7 L3.89984351,1.7 L3.89984351,0 L2.3399061,0 L2.3399061,1.7 L1.5599374,1.7 C0.694172144,1.7 0.00779968701,2.465 0.00779968701,3.4 L0,15.3 C0,16.235 0.694172144,17 1.5599374,17 L12.4794992,17 C13.3374648,17 14.0394366,16.235 14.0394366,15.3 L14.0394366,3.4 C14.0394366,2.465 13.3374648,1.7 12.4794992,1.7 Z M12.4794992,15.3 L1.5599374,15.3 L1.5599374,5.95 L12.4794992,5.95 L12.4794992,15.3 Z"
                              id="Shape"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                Available August 10th, 2020
                <button class="more-details" routerLink='/details'>MORE DETAILS</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card">
              <div class="lease-title">
                <p class="house">HOUSE FOR LEASE</p>
                <p class="price">
                  <span class="frequency">$1200</span>
                  <span> / MONTH</span>
                </p>
              </div>
              <div class="lease-photo four"></div>
              <div class="address">
                <div class="point-svg">
                  <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                  <svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>location</title>
                    <defs>
                      <path
                        d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                      <path
                        d="M7.01971831,0 C3.1388169,0 0,3.13 0,7 C0,12.25 7.01971831,20 7.01971831,20 C7.01971831,20 14.0394366,12.25 14.0394366,7 C14.0394366,3.13 10.9006197,0 7.01971831,0 Z M7.01971831,9.5 C5.63583099,9.5 4.51267606,8.38 4.51267606,7 C4.51267606,5.62 5.63583099,4.5 7.01971831,4.5 C8.40360563,4.5 9.52676056,5.62 9.52676056,7 C9.52676056,8.38 8.40360563,9.5 7.01971831,9.5 Z"
                        id="path-3"></path>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="home_card" transform="translate(-13.000000, -271.000000)">
                        <g id="Rectangle-Copy-6">
                          <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                          </use>
                          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <g id="location" transform="translate(13.036620, 271.000000)">
                          <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                          </mask>
                          <use id="-↳Color" fill="#505050" xlink:href="#path-3"></use>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                57400 Bedford Blvd #251,
                Washington, MI 48094
              </div>
              <div class="details">3 BEDS | 1.5 BATHS | 800 SQFT</div>
              <div class="availability">
                <!-- calendar svg -->
                <div class="cal-div">
                  <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                  <svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Shape</title>
                    <defs>
                      <path
                        d="M5,-1.13686838e-13 L351,-1.13686838e-13 C353.761424,-1.14194103e-13 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,-1.13179572e-13 5,-1.13686838e-13 Z"
                        id="path-1"></path>
                      <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                              id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                        </feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                      </filter>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="body" transform="translate(-177.000000, -572.000000)">
                        <g id="card-Copy-12" transform="translate(165.000000, 195.000000)">
                          <g id="Combined-Shape">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                            </use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                          </g>
                          <g id="Group-6-Copy-2" transform="translate(12.033803, 377.000000)" fill="#5C5F64">
                            <path
                              d="M4.67981221,7.65 L3.1198748,7.65 L3.1198748,9.35 L4.67981221,9.35 L4.67981221,7.65 Z M7.79968701,7.65 L6.23974961,7.65 L6.23974961,9.35 L7.79968701,9.35 L7.79968701,7.65 Z M10.9195618,7.65 L9.35962441,7.65 L9.35962441,9.35 L10.9195618,9.35 L10.9195618,7.65 Z M12.4794992,1.7 L11.6995305,1.7 L11.6995305,0 L10.1395931,0 L10.1395931,1.7 L3.89984351,1.7 L3.89984351,0 L2.3399061,0 L2.3399061,1.7 L1.5599374,1.7 C0.694172144,1.7 0.00779968701,2.465 0.00779968701,3.4 L0,15.3 C0,16.235 0.694172144,17 1.5599374,17 L12.4794992,17 C13.3374648,17 14.0394366,16.235 14.0394366,15.3 L14.0394366,3.4 C14.0394366,2.465 13.3374648,1.7 12.4794992,1.7 Z M12.4794992,15.3 L1.5599374,15.3 L1.5599374,5.95 L12.4794992,5.95 L12.4794992,15.3 Z"
                              id="Shape"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                Available August 10th, 2020
                <button class="more-details" routerLink='/details'>MORE DETAILS</button>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="lease-title">
                  <p class="house">HOUSE FOR LEASE</p>
                  <p class="price">
                    <span class="frequency">$1200</span>
                    <span> / MONTH</span>
                  </p>
                </div>
                <div class="lease-photo five"></div>
                <div class="address">
                  <div class="point-svg">
                    <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                    <svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>location</title>
                      <defs>
                        <path
                          d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                          id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                                id="filter-2">
                          <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                          <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                          </feGaussianBlur>
                          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                         in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                        <path
                          d="M7.01971831,0 C3.1388169,0 0,3.13 0,7 C0,12.25 7.01971831,20 7.01971831,20 C7.01971831,20 14.0394366,12.25 14.0394366,7 C14.0394366,3.13 10.9006197,0 7.01971831,0 Z M7.01971831,9.5 C5.63583099,9.5 4.51267606,8.38 4.51267606,7 C4.51267606,5.62 5.63583099,4.5 7.01971831,4.5 C8.40360563,4.5 9.52676056,5.62 9.52676056,7 C9.52676056,8.38 8.40360563,9.5 7.01971831,9.5 Z"
                          id="path-3"></path>
                      </defs>
                      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="home_card" transform="translate(-13.000000, -271.000000)">
                          <g id="Rectangle-Copy-6">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                            </use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                          </g>
                          <g id="location" transform="translate(13.036620, 271.000000)">
                            <mask id="mask-4" fill="white">
                              <use xlink:href="#path-3"></use>
                            </mask>
                            <use id="-↳Color" fill="#505050" xlink:href="#path-3"></use>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  57400 Bedford Blvd #251,
                  Washington, MI 48094
                </div>
                <div class="details">3 BEDS | 1.5 BATHS | 800 SQFT</div>
                <div class="availability">
                  <!-- calendar svg -->
                  <div class="cal-div">
                    <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                    <svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Shape</title>
                      <defs>
                        <path
                          d="M5,-1.13686838e-13 L351,-1.13686838e-13 C353.761424,-1.14194103e-13 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,-1.13179572e-13 5,-1.13686838e-13 Z"
                          id="path-1"></path>
                        <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                                id="filter-2">
                          <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                          <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                          </feGaussianBlur>
                          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                         in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                      </defs>
                      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="body" transform="translate(-177.000000, -572.000000)">
                          <g id="card-Copy-12" transform="translate(165.000000, 195.000000)">
                            <g id="Combined-Shape">
                              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                              </use>
                              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="Group-6-Copy-2" transform="translate(12.033803, 377.000000)" fill="#5C5F64">
                              <path
                                d="M4.67981221,7.65 L3.1198748,7.65 L3.1198748,9.35 L4.67981221,9.35 L4.67981221,7.65 Z M7.79968701,7.65 L6.23974961,7.65 L6.23974961,9.35 L7.79968701,9.35 L7.79968701,7.65 Z M10.9195618,7.65 L9.35962441,7.65 L9.35962441,9.35 L10.9195618,9.35 L10.9195618,7.65 Z M12.4794992,1.7 L11.6995305,1.7 L11.6995305,0 L10.1395931,0 L10.1395931,1.7 L3.89984351,1.7 L3.89984351,0 L2.3399061,0 L2.3399061,1.7 L1.5599374,1.7 C0.694172144,1.7 0.00779968701,2.465 0.00779968701,3.4 L0,15.3 C0,16.235 0.694172144,17 1.5599374,17 L12.4794992,17 C13.3374648,17 14.0394366,16.235 14.0394366,15.3 L14.0394366,3.4 C14.0394366,2.465 13.3374648,1.7 12.4794992,1.7 Z M12.4794992,15.3 L1.5599374,15.3 L1.5599374,5.95 L12.4794992,5.95 L12.4794992,15.3 Z"
                                id="Shape"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  Available August 10th, 2020
                  <button class="more-details" routerLink='/details'>MORE DETAILS</button>
                </div>
              </div>
              <div class="item">
                <div class="card">
                  <div class="lease-title">
                    <p class="house">HOUSE FOR LEASE</p>
                    <p class="price">
                      <span class="frequency">$1200</span>
                      <span> / MONTH</span>
                    </p>
                  </div>
                  <div class="lease-photo six"></div>
                  <div class="address">
                    <div class="point-svg">
                      <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                      <svg width="15px" height="20px" viewBox="0 0 15 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>location</title>
                        <defs>
                          <path
                            d="M5,0 L351,0 C353.761424,-5.07265313e-16 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,5.07265313e-16 5,0 Z"
                            id="path-1"></path>
                          <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                                  id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.07 0" type="matrix"
                                           in="shadowBlurOuter1"></feColorMatrix>
                          </filter>
                          <path
                            d="M7.01971831,0 C3.1388169,0 0,3.13 0,7 C0,12.25 7.01971831,20 7.01971831,20 C7.01971831,20 14.0394366,12.25 14.0394366,7 C14.0394366,3.13 10.9006197,0 7.01971831,0 Z M7.01971831,9.5 C5.63583099,9.5 4.51267606,8.38 4.51267606,7 C4.51267606,5.62 5.63583099,4.5 7.01971831,4.5 C8.40360563,4.5 9.52676056,5.62 9.52676056,7 C9.52676056,8.38 8.40360563,9.5 7.01971831,9.5 Z"
                            id="path-3"></path>
                        </defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="home_card" transform="translate(-13.000000, -271.000000)">
                            <g id="Rectangle-Copy-6">
                              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                              </use>
                              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            </g>
                            <g id="location" transform="translate(13.036620, 271.000000)">
                              <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                              </mask>
                              <use id="-↳Color" fill="#505050" xlink:href="#path-3"></use>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    57400 Bedford Blvd #251,
                    Washington, MI 48094
                  </div>
                  <div class="details">3 BEDS | 1.5 BATHS | 800 SQFT</div>
                  <div class="availability">
                    <!-- calendar svg -->
                    <div class="cal-div">
                      <!-- <?xml version="1.0" encoding="UTF-8"?> -->
                      <svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Shape</title>
                        <defs>
                          <path
                            d="M5,-1.13686838e-13 L351,-1.13686838e-13 C353.761424,-1.14194103e-13 356,2.23857625 356,5 L356,405 C356,407.761424 353.761424,410 351,410 L5,410 C2.23857625,410 3.38176876e-16,407.761424 0,405 L0,5 C-3.38176876e-16,2.23857625 2.23857625,-1.13179572e-13 5,-1.13686838e-13 Z"
                            id="path-1"></path>
                          <filter x="-7.0%" y="-4.9%" width="114.0%" height="112.2%" filterUnits="objectBoundingBox"
                                  id="filter-2">
                            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="7.5" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                            </feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                           in="shadowBlurOuter1"></feColorMatrix>
                          </filter>
                        </defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="body" transform="translate(-177.000000, -572.000000)">
                            <g id="card-Copy-12" transform="translate(165.000000, 195.000000)">
                              <g id="Combined-Shape">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1">
                                </use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                              </g>
                              <g id="Group-6-Copy-2" transform="translate(12.033803, 377.000000)" fill="#5C5F64">
                                <path
                                  d="M4.67981221,7.65 L3.1198748,7.65 L3.1198748,9.35 L4.67981221,9.35 L4.67981221,7.65 Z M7.79968701,7.65 L6.23974961,7.65 L6.23974961,9.35 L7.79968701,9.35 L7.79968701,7.65 Z M10.9195618,7.65 L9.35962441,7.65 L9.35962441,9.35 L10.9195618,9.35 L10.9195618,7.65 Z M12.4794992,1.7 L11.6995305,1.7 L11.6995305,0 L10.1395931,0 L10.1395931,1.7 L3.89984351,1.7 L3.89984351,0 L2.3399061,0 L2.3399061,1.7 L1.5599374,1.7 C0.694172144,1.7 0.00779968701,2.465 0.00779968701,3.4 L0,15.3 C0,16.235 0.694172144,17 1.5599374,17 L12.4794992,17 C13.3374648,17 14.0394366,16.235 14.0394366,15.3 L14.0394366,3.4 C14.0394366,2.465 13.3374648,1.7 12.4794992,1.7 Z M12.4794992,15.3 L1.5599374,15.3 L1.5599374,5.95 L12.4794992,5.95 L12.4794992,15.3 Z"
                                  id="Shape"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    Available August 10th, 2020
                    <button class="more-details" routerLink='/details'>MORE DETAILS</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
